{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Texte de présentation -->
    <div class="container-fluid bg-secondary">
        <div class="row">
            <p class="display-4 m-5 text-light">Déjà {{ nbMember }} membres, <a
                        href="{{ path('app_rejoindre') }}" class="text-dark">rejoignez-nous</a></p>
        </div>
    </div>

    <!-- Présentation des sections -->
    <div class="container-fluid bg-secondary pb-5 pt-5">
        <div class="row-cols-6">
            {% for section in sections %}
                <div class="col-12 {% if loop.index is even %}text-right{% else %}text-left{% endif %}">
                    <h3><a href="{{ path('app_sections', {section:section.nom}) }}" class="text-dark">{{ section.nom }}</a></h3>
                    <p class="text-light">{{ section.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}