{% extends 'baseWOHeader.html.twig' %}

{% block title %}Modération{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid bg-secondary pt-5 pb-5">
        <!-- Navigation -->
        <div id="boutons" class="mb-3">
            <ul class="nav nav-tabs border-0">
                <li class="nav-item">
                    <h2 class="nav-link {% if onglet == "utilisateurs" %}active{% endif %}" id="utilisateurs">
                        Utilisateurs</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link {% if onglet == "sections" %}active{% endif %}" id="sections">Sections</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link {% if onglet == "candidatures" %}active{% endif %}" id="candidatures">
                        Candidatures</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link {% if onglet == "produits" %}active{% endif %}" id="produits">Produits</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link {% if onglet == "commandes" %}active{% endif %}" id="commandes">Commandes</h2>
                </li>
            </ul>
        </div>

        <!-- Onglets -->
        <div id="onglets">
            <div id="utilisateurs">
                <p class="lead">{{ nbMembre }} membres et {{ nbVisiteur }} visiteurs</p>
                <p>Les grades : <em>grade &longleftarrow; grade supérieur</em> ou <em>grade</em></p>
                {% if utilisateurs is not empty %}
                    <table class="table table-dark table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Login</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Section</th>
                            <th>Grade</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <form action="{{ path('app_modify_user') }}" method="post">
                                    <td><input class="form-control" type="text" name="login"
                                               value="{{ utilisateur.login }}" readonly></td>
                                    <td><input class="form-control" type="text" name="prenom"
                                               value="{{ utilisateur.prenom }}"></td>
                                    <td><input class="form-control" type="text" name="nom"
                                               value="{{ utilisateur.nom }}"></td>
                                    {% if utilisateur.section %}
                                        <td>
                                            <select class="form-control selectSection" name="section"
                                                    id="{{ utilisateur.login }}">
                                                {% for section in sections %}
                                                    {% if section.nom == utilisateur.section.nom %}
                                                        <option value="{{ section.nom }}"
                                                                selected>{{ section.nom }}</option>
                                                    {% else %}
                                                        <option value="{{ section.nom }}">{{ section.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                <option value="aucune">Aucune</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control selectGrade" name="grade"
                                                    id="{{ utilisateur.login }}">
                                                {% for grade in grades %}
                                                    {% if grade.id == utilisateur.grade.id %}
                                                        <option value="{{ grade.id }}" id="{{ grade.section.nom }}"
                                                                selected>
                                                            {{ grade.nom }}
                                                            {% if grade.precedent != null %}
                                                                &longleftarrow; {{ grade.precedent.nom }}
                                                            {% endif %}
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ grade.id }}"
                                                                id="{{ grade.section.nom }}">
                                                            {{ grade.nom }}
                                                            {% if grade.precedent != null %}
                                                                &longleftarrow; {{ grade.precedent.nom }}
                                                            {% endif %}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    {% else %}
                                        <td>Visiteur</td>
                                        <td></td>
                                    {% endif %}
                                    <td>
                                        <button class="btn btn-success" type="submit">v</button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id="sections">
                <table class="table table-dark table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Effectifs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for section in sections %}
                        <tr>
                            <td><a class="text-info"
                                   href="{{ path('app_sections', {section:section.nom}) }}">{{ section.nom }}</a></td>
                            <td>{{ effectifs[section.nom] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="candidatures">
                {% if candidatures is empty %}
                    <p class="lead">Aucune candidature</p>
                    <p>Les grades : <em>grade &longleftarrow; grade supérieur</em> ou <em>grade</em></p>
                {% else %}
                    <table class="table table-dark table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Login</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Section</th>
                            <th>Grade</th>
                            <th>Motivation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for candidature in candidatures %}
                            <tr>
                                <form action="{{ path('app_candidature_accept', {id: candidature.id}) }}" method="post">
                                    <td>{{ candidature.login }}</td>
                                    <td>{{ candidature.prenom }}</td>
                                    <td>{{ candidature.nom }}</td>
                                    {% if candidature.section %}
                                        <td>{{ candidature.section.nom }}</td>
                                        <td><select class="form-control" name="grade">
                                                {% for grade in grades %}
                                                    {% if grade.section.nom == candidature.section.nom %}
                                                        <option value="{{ grade.id }}"
                                                                id="{{ grade.section.nom }}">
                                                            {{ grade.nom }}
                                                            {% if grade.precedent != null %}
                                                                &longleftarrow; {{ grade.precedent.nom }}
                                                            {% endif %}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select></td>
                                    {% else %}
                                        <td>Visiteur</td>
                                        <td></td>
                                    {% endif %}
                                    <td>{{ candidature.motivation }}</td>
                                    <td class="accept" id="{{ candidature.id }}">
                                        <button class="btn btn-success" type="submit">v</button>
                                    </td>
                                    <td class="reject" id="{{ candidature.id }}"><a class="btn btn-danger"
                                                                                    href="{{ path('app_candidature_reject', {id: candidature.id}) }}">&times;</a>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id="produits">
                {% if produits is empty %}
                    <p class="lead">Aucun produit</p>
                {% else %}
                    <table class="table table-dark table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in produits %}
                            <tr>
                                <form action="{{ path('app_modify_produit', {id: produit.id}) }}" method="post">
                                    <td><input class="form-control" name="nom" type="text" value="{{ produit.nom }}">
                                    </td>
                                    <td><input class="form-control" name="prix" type="number" min="0"
                                               value="{{ produit.prix }}"></td>
                                    <td><textarea class="form-control"
                                                  name="description">{{ produit.description }}</textarea></td>
                                    <td><input class="form-control" name="image" type="text"
                                               value="{{ produit.image }}"></td>
                                    <td>
                                        <select class="form-control" name="type">
                                            {% for type in types %}
                                                {% if type.nom == produit.type.nom %}
                                                    <option value="{{ type.id }}" selected>{{ type.nom }}</option>
                                                {% else %}
                                                    <option value="{{ type.id }}">{{ type.nom }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" type="submit">v</button>
                                    </td>
                                    <td><a class="btn btn-danger"
                                           href="{{ path('app_delete_produit', {id: produit.id}) }}">&times;</a></td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id="commandes">
                {% if commandes is empty %}
                    <p class="lead">Aucune commande</p>
                {% else %}
                    <table class="table table-dark table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Utilisateur</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}
                            {% if not commande.realise %}
                                <tr>
                                    <td>
                                        <a class="text-info"
                                           href="{{ path('app_show_product', {id: commande.produit.id}) }}">{{ commande.produit.nom }}</a>
                                    </td>
                                    <td>{{ commande.quantite }}</td>
                                    <td>
                                        <a class="text-info"
                                           href="{{ path('app_user', {login: commande.utilisateur.login}) }}">{{ commande.utilisateur.login }}</a>
                                    </td>
                                    <td>{{ commande.date.format('l j F Y à H:i:s') }}</td>
                                    <td><a class="btn btn-danger"
                                           href="{{ path('app_delete_commande', {id: commande.id}) }}">&times;</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        let selectSection = document.querySelectorAll('.selectSection');
        let sections = document.querySelectorAll('.selectSection > option');

        for (let i = 0; i < selectSection.length; i++) {
            selectSection[i].addEventListener('click', select);
            sortGrade(selectSection[i].id, false);
        }

        function select(event) {
            sortGrade(event.target.id, true)
        }

        function sortGrade(id, first) {
            // Récupération section sélectionnée
            let sectionsOption = document.querySelectorAll('#' + id + '.selectSection > option');
            let section = "";
            for (let i = 0; i < sectionsOption.length; i++) {
                if (sectionsOption[i].selected) {
                    section = sectionsOption[i].value;
                }
            }

            // Filtrage des grades
            let gradesOption = document.querySelectorAll('#' + id + '.selectGrade > option');
            for (let i = 0; i < gradesOption.length; i++) {
                if (gradesOption[i].id === section) {
                    if (first) {
                        first = false;
                        gradesOption[i].selected = true;
                    }
                    gradesOption[i].style.display = 'block';
                } else {
                    gradesOption[i].style.display = 'none';
                }
            }
        }
    </script>
    <script type="text/javascript">
        let boutons = document.querySelectorAll('#boutons h2');
        let onglets = document.querySelectorAll('#onglets > div');

        for (let i = 0; i < boutons.length; i++) {
            boutons[i].addEventListener('click', changeOnglet);
        }

        function changeOnglet(event) {
            setOnglet(event.target.id);
        }

        function setOnglet(id) {
            if (onglets.length === boutons.length) {
                for (let i = 0; i < onglets.length; i++) {
                    if (onglets[i].id === id) {
                        onglets[i].style.display = 'block';
                        boutons[i].classList.add('active');
                    } else {
                        onglets[i].style.display = 'none';
                        boutons[i].classList.remove('active');
                    }
                }
            }
        }

        setOnglet('{{ onglet }}');
    </script>
{% endblock %}