{% extends 'baseWOHeader.html.twig' %}

{% block title %}{{ user.login }}{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid bg-secondary pt-5 pb-5">
        <div class="d-flex container-fluid">
            <div class="boutons nav flex-column col-2 pr-3 mr-3">
                <span id="profil" class="btn btn-dark m-2">Profil</span>
                {% if app.session.get('user') and user.login == app.session.get('user').login %}
                    <span id="parametres" class="btn btn-dark m-2">Paramètres</span>
                    <span id="commandes" class="btn btn-dark m-2">Commandes</span>
                {% endif %}
            </div>

            <div class="onglets col-10">
                <div id="profil">
                    <h1>{{ user.login }}</h1>

                    <div class="jumbotron col-5 bg-transparent">
                        <div class="container">
                            {% if user.section %}
                                <p class="lead">
                                    <a href="{{ path('app_sections', {section:user.section.nom}) }}"
                                       class="text-dark">{{ user.section.nom }}</a>
                                    ({{ user.grade.nom }})</p>
                            {% else %}
                                <p class="lead">Dans aucune section</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if app.session.get('user') and user.login == app.session.get('user').login %}
                    <div id="parametres" class="col-4">
                        <form name="utilisateur" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Prenom</span>
                                </div>
                                <input type="text" class="form-control" name="prenom" value="{{ user.prenom }}">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom</span>
                                </div>
                                <input type="text" class="form-control" name="nom" value="{{ user.nom }}">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Modifier">
                        </form>
                    </div>

                    <div id="commandes">
                        {% if commandes is empty %}
                            <p class="lead">Aucune commande</p>
                        {% else %}
                            <table class="table table-dark table-striped table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Produit</th>
                                    <th>Quantité</th>
                                    <th>Date</th>
                                    <th>Réalisée</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for commande in commandes %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app_show_product', {id: commande.produit.id}) }}">{{ commande.produit.nom }}</a>
                                        </td>
                                        <td>{{ commande.quantite }}</td>
                                        <td>{{ commande.date.format('l j F Y à H:i:s') }}</td>
                                        <td>{% if commande.realise %}Oui{% else %}Non{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        let boutons = document.querySelectorAll('.boutons > span');
        let onglets = document.querySelectorAll('.onglets > div');

        for (let i = 0; i < boutons.length; i++) {
            boutons[i].addEventListener('click', changeOnglet);
        }

        function changeOnglet(event) {
            setOnglet(event.target.id);
        }

        function setOnglet(id) {
            if (onglets.length === boutons.length) {
                for (let i = 0; i < onglets.length; i++) {
                    if (onglets[i].id === id) {
                        onglets[i].style.display = 'block';
                    } else {
                        onglets[i].style.display = 'none';
                    }
                }
            }
        }

        setOnglet('profil');
    </script>
{% endblock %}