{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/produits.css') }}">{% endblock %}

{% block body %}
    <!-- Recherche -->
    <div>
        <input type="text" class="search-input" placeholder="Recherche ...">
        <button type="submit" class="search-button">Chercher</button>
    </div>

    <!-- Navigation -->
    <div class="boutons">
        <h2 id="vaisseaux">Vaisseaux</h2>
    </div>

    <!-- Onglets -->
    <div class="onglets">
        <div id="vaisseaux">
            {% for vaisseau in vaisseaux %}
                <div class="container"
                     onclick="document.location.href='{{ path('app_show_product', {id: vaisseau.id}) }}'">
                    <img src="{{ asset(vaisseau.image) }}" alt="image">
                    <div class="infos">
                        <h3>{{ vaisseau.nom|replace({'_': " "})|capitalize }}</h3>
                        <p>Prix : {{ vaisseau.prix }} crédits</p>
                        <p>{{ vaisseau.description }}</p>
                        <p>{{ vaisseau.dateCreation.format('l j F Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if nbVaisseaux > 10 %}
            <div> <!-- Pagination -->
                {% if page > 1 %}
                    <a href="{{ path('app_produits', {page: page-1}) }}">&leftarrow;</a>
                {% endif %}
                {% for i in 1..(nbVaisseaux //10)+1 %}
                    <a href="{{ path('app_produits', {page: i}) }}">{{ i }}</a>
                {% endfor %}
                {% if page < (nbVaisseaux //10)+1 %}
                    <a href="{{ path('app_produits', {page: page+1}) }}">&rightarrow;</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script> // La recherche
        let input = document.querySelector('.search-input');

        document.querySelector('.search-button').addEventListener('click', search);
        input.addEventListener('keyup', searchK);

        function redirect() {
            document.location.href = '{{ path('app_search') }}/' + input.value;
        }

        function search(event) {
            redirect();
        }

        function searchK(event) {
            if (event.keyCode === 13) redirect();
        }
    </script>
    <script type="text/javascript"> // Script pour les onglets
        let boutons = document.querySelectorAll('.boutons > h2');
        let onglets = document.querySelectorAll('.onglets > div');

        for (let i = 0; i < boutons.length; i++) {
            boutons[i].addEventListener('click', changeOnglet);
        }

        function changeOnglet(event) {
            setOnglet(event.target.id);
        }

        function setOnglet(id) {
            if (onglets.length === boutons.length) {
                for (let i = 0; i < onglets.length; i++) {
                    if (onglets[i].id === id) {
                        onglets[i].style.display = 'block';
                    } else {
                        onglets[i].style.display = 'none';
                    }
                }
            }
        }

        setOnglet('vaisseaux');
    </script>
{% endblock %}