{% extends 'baseWOHeader.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid pt-5 pb-5 bg-secondary">
        <!-- Recherche -->
        <div class="row col-4 pb-5">
            <input class="form-control col-5 mr-3" type="text" id="search-input" placeholder="Recherche ...">
            <button class="btn btn-outline-primary bg-light col-2" type="submit" id="search-button">Chercher</button>
        </div>

        <!-- Navigation -->
        <div id="boutons">
            <ul class="nav nav-tabs border-0">
                <li class="nav-item">
                    <h2 class="nav-link active" id="vaisseaux">Vaisseaux</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link" id="yolol">Yolol</h2>
                </li>
                <li class="nav-item">
                    <h2 class="nav-link" id="mercenaires">Mercenaires</h2>
                </li>
            </ul>
        </div>

        {% if app.session.get('user') %}
            <div class="jumbotron bg-dark col-4">
                <p class="text-secondary h2">Vous ne trouvez pas ce que vous chercher ?</p>
                <p class="text-secondary h3">Créez votre <a class="text-info" href="{{ path('app_create_commande') }}">commande
                        personnalisée</a></p>
            </div>
        {% endif %}

        <!-- Onglets -->
        <div id="onglets">
            <div id="vaisseaux">
                {% if vaisseaux is empty %}
                    <p class="lead">Aucun vaisseau en vente</p>
                {% else %}
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-8">
                            {% for vaisseau in vaisseaux %}
                                <div class="d-flex flex-row btn"
                                     onclick="document.location.href='{{ path('app_show_product', {id: vaisseau.id}) }}'">
                                    <img class="rounded float-left col-5" src="{{ asset(vaisseau.image) }}" alt="image">
                                    <div class="col-7 text-justify">
                                        <h3 class="h1">{{ vaisseau.nom|replace({'_': " "})|capitalize }}</h3>
                                        <p class="lead">Prix : {{ vaisseau.prix }} crédits</p>
                                        <p class="lead">{{ vaisseau.description }}</p>
                                        <p>{{ vaisseau.dateCreation.format('l j F Y') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="yolol">
                {% if programmes is empty %}
                    <p class="lead">Aucun programme en vente</p>
                {% else %}
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-8">
                            {% for programme in programmes %}
                                <div class="d-flex flex-row btn"
                                     onclick="document.location.href='{{ path('app_show_product', {id: programme.id}) }}'">
                                    <img class="rounded float-left col-5" src="{{ asset(programme.image) }}"
                                         alt="image">
                                    <div class="col-7 text-justify">
                                        <h3 class="h1">{{ programme.nom|replace({'_': " "})|capitalize }}</h3>
                                        <p class="lead">Prix : {{ programme.prix }} crédits</p>
                                        <p class="lead">{{ programme.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="mercenaires">
                {% if mercenaires is empty %}
                    <p class="lead">Aucune offre de mercenaires</p>
                {% else %}
                    <p>Les créneaux de réservation sont choisis ingame</p>
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-8">
                            {% for mercenaire in mercenaires %}
                                <div class="d-flex flex-row btn"
                                     onclick="document.location.href='{{ path('app_show_product', {id: mercenaire.id}) }}'">
                                    <img class="rounded float-left col-5" src="{{ asset(mercenaire.image) }}"
                                         alt="image">
                                    <div class="col-7 text-justify">
                                        <h3 class="h1">{{ mercenaire.nom|replace({'_': " "})|capitalize }}</h3>
                                        <p class="lead">Prix : {{ mercenaire.prix }} crédits</p>
                                        <p class="lead">{{ mercenaire.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script> // La recherche
        let input = document.querySelector('#search-input');

        document.querySelector('#search-button').addEventListener('click', search);
        input.addEventListener('keyup', searchK);

        function redirect() {
            document.location.href = '{{ path('app_search') }}/' + input.value;
        }

        function search(event) {
            redirect();
        }

        function searchK(event) {
            if (event.keyCode === 13) redirect();
        }
    </script>
    <script type="text/javascript"> // Script pour les onglets
        let boutons = document.querySelectorAll('#boutons h2');
        let onglets = document.querySelectorAll('#onglets > div');

        for (let i = 0; i < boutons.length; i++) {
            boutons[i].addEventListener('click', changeOnglet);
        }

        function changeOnglet(event) {
            setOnglet(event.target.id);
        }

        function setOnglet(id) {
            if (onglets.length === boutons.length) {
                for (let i = 0; i < onglets.length; i++) {
                    if (onglets[i].id === id) {
                        onglets[i].style.display = 'block';
                        boutons[i].classList.add('active');
                    } else {
                        onglets[i].style.display = 'none';
                        boutons[i].classList.remove('active');
                    }
                }
            }
        }

        setOnglet('vaisseaux');
    </script>
{% endblock %}