{% extends 'base.html.twig' %}

{% block title %}Recherche &rightarrow; {{ keyword }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/search.css') }}">
{% endblock %}

{% block body %}
    <!-- Recherche -->
    <div>
        <input type="text" class="search-input" value="{{ keyword }}">
        <button type="submit" class="search-button">Chercher</button>
    </div>

    {% if app.session.get('user') %}
        <div>
            <p>Vous ne trouvez pas ce que vous chercher ?</p>
            <p>Créez votre <a href="{{ path('app_create_commande') }}">commande personnalisée</a></p>
        </div>
    {% endif %}

    {% if result is not empty %}
        <div id="produits">
            {% for product in result %}
                <div class="container"
                     onclick="document.location.href='{{ path('app_show_vessel', {id: product.id}) }}'">
                    <img src="{{ asset(product.image) }}" alt="image">
                    <div class="infos">
                        <h3>{{ product.nom|replace({'_': " "})|capitalize }}</h3>
                        <p>Prix : {{ product.prix }} crédits</p>
                        <p>{{ product.description }}</p>
                        <p>{{ product.dateCreation.format('l j F Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>Aucun produits correspondant</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script> // La recherche
        let input = document.querySelector('.search-input');

        document.querySelector('.search-button').addEventListener('click', search);
        input.addEventListener('keyup', searchK);

        function redirect() {
            document.location.href = '{{ path('app_search') }}/' + input.value;
        }

        function search(event) {
            redirect();
        }

        function searchK(event) {
            if (event.keyCode === 13) redirect();
        }
    </script>
{% endblock %}

