{% extends 'base.html.twig' %}

{% block title %}{{ vaisseau['nom']|replace({'_': " "})|capitalize }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/show_vessel.css') }}">{% endblock %}

{% block body %}
    <h2>Fiche produit : {{ vaisseau['nom']|replace({'_': " "})|capitalize }}</h2>
    <h3>{{ vaisseau['prix'] }} crédits</h3>
    <div class="description">
        <img src="{{ asset(vaisseau['image']) }}">
        <p>{{ vaisseau['description'] }}</p>
    </div>
{% endblock %}