<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Hediata | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/Hediata.png') }}" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="left">
                <a href="{{ path('app_homepage') }}">Accueil</a>
                <a href="{{ path('app_produits') }}">Boutique</a>
                <a href="{{ path('app_sections') }}">Sections</a>
                {% if app.session.get('user') %}
                    {% if app.session.get('user').login == "gashmob" %}
                        <a href="{{ path('app_moderation') }}">Modération</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="right">
                {% if app.session.get('user') %}
                    <a href="{{ path('app_user') }}" class="rejoindre">Profil</a>
                    <a href="{{ path('app_deconnexion') }}" class="connexion">Deconnexion</a>
                {% else %}
                    <a href="{{ path('app_rejoindre') }}" class="rejoindre">Rejoindre</a>
                    <a href="{{ path('app_connexion') }}" class="connexion">Connexion</a>
                {% endif %}
            </div>
        </nav>
        <header>
            <h1><a href="{{ path('app_homepage') }}">Hediata</a></h1>
        </header>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="color: green;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('fail') %}
            <div class="alert alert-danger" style="color: red;">
                {{ message }}
            </div>
        {% endfor %}

        {% block aside %}{% endblock %}

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>Ce site a été créé par <a href="{{ path('app_user', {moi:'Gashmob'}) }}">Gashmob</a> avec le framework <a href="https://symfony.com" target="_blank">Symonfy</a></p>
        </footer>

        <script type="text/javascript">
            let alerts = document.querySelectorAll('.alert');

            for (let i = 0; i < alerts.length; i++) {
                alerts[i].addEventListener('click', clearAlert);
            }
            
            function clearAlert(event) {
                event.target.style.display = 'none';
            }

            function clearAllAlert() {
                for (let i = 0; i < alerts.length; i++) {
                    alerts[i].style.display = 'none';
                }
            }

            setTimeout(clearAllAlert, 10000); // Attennd 10 secondes avant d'effacer tout les messages flash
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
